@charset "UTF-8";

/* intro */
.intro {
    display: flex;
    position: relative;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    padding: 0 3rem;
}
.intro > div {
    width: 50%;
}
.intro .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .circle-container {
    position: relative;
    width: 35rem;
    height: 35rem;
    margin: 10rem auto;
    transition: transform 0.3s ease;
}
.intro .circle-container:hover {
    transform: scale(1.1);
}
.intro .center-image {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.intro .circular-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 37rem;
    height: 37rem;
    animation: spin 30s linear infinite;
    z-index: 1;
    pointer-events: none;
}
.intro .circular-text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    font-size: 1.4rem;
    color: #333;
    white-space: pre;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.intro .speech-bubble {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background: #ffffff;
    border: 1px solid #333;
    border-radius: 10px;
    width: 25rem;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 10;
}
.intro .speech-bubble::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 14px 0;
    border-color: #777 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -14px;
    left: calc(50% - 16px);
}
.intro .speech-bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 13px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -12px;
    left: calc(50% - 15px);
}
.intro .circle-container:hover .speech-bubble {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}
.intro .right {
    display: flex;
    justify-content: start;
    align-items: center;
}
.intro .intro-desc {
    margin-bottom: 6rem;
}
.intro .intro-desc h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.intro .intro-desc h2 {
    font-size: 2.2rem;
    color: #666;
}
.intro .name {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: left;
}
.intro .typing {
    display: inline-block;
    font-size: inherit;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: 0;
}

.intro .cursor::after {
    content: '|';
    animation: typing 2s infinite;
    margin-left: 0.2rem;
    font-weight: normal;
}

@keyframes typing {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

.intro .personal-info {
    margin-bottom: 6rem;
}
.intro .personal-info h2 {
    font-size: 2.2rem;
    color: #666;
    font-weight: 900;
    margin-bottom: 2rem;
}
.intro .personal-info ul {
    display: flex;
    flex-wrap: wrap;
}
.intro .personal-info ul li {
    width: 50%;
    padding-bottom: 1rem;
}
.intro .more-info-btn {
    display: inline-block;
    height: 4.6rem;
    padding: 0 3rem;
    border-radius: 2.6rem;
    background-color: #333;
    font-size: 1.6rem;
    color: #fff;
    line-height: 4.6rem;
    transition: transform 0.3s ease;
}
.intro .more-info-btn:hover {
    transform: scale(1.05);
    will-change: transform;
}
.intro .scroll-lottie-01 {
    display: block;
    width: 4rem;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 2s infinite;
    z-index: 10;
    text-align: center;
    color: #999;
}

/* 반응형 */
@media (max-width: 1024px) {
    .intro {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        margin-top: 12rem;
        height: auto;
    }
    .intro > div {
        width: 80%;
    }
    .intro .right .more-info-btn {
        margin-bottom: 6rem;
    }
    .intro .scroll-lottie-01 {
        display: none;
    }
}

@media (max-width: 576px) {
    .intro {
        margin-top: 10rem;
        padding: 0 2rem;
    }
    .intro .circle-container {
        width: 26rem;
        height: 26rem;
    }
    .intro .circular-text {
        width: 26rem;
        height: 28rem;
    }
    .intro .speech-bubble {
        width: 22rem;
        font-size: 1.6rem;
        padding: 1.5rem;
    }
    .intro .speech-bubble::before {
        border-width: 12px 12px 0;
        bottom: -12px;
        left: calc(50% - 13px);
    }
    .intro .speech-bubble::after {
        border-width: 11px 11px 0;
        bottom: -10px;
        left: calc(50% - 12px);
    }
    .intro .intro-desc {
        font-size: 1.4rem;
    }
    .intro .intro-desc h1 {
        font-size: 3rem;
    }
    .intro .intro-desc h2 {
        font-size: 1.8rem;
    }
    .intro .personal-info {
        font-size: 1.4rem;
    }
    .intro .personal-info h2 {
        font-size: 1.8rem;
    }
    .intro .more-info-btn {
        font-size: 1.2rem;
        padding: 0 2rem;
        height: 4rem;
        line-height: 4rem;
    }
}

@media (max-width: 480px) {
    .intro {
        margin-top: 8rem;
    }
    .intro > div {
        width: 100%;
    }
    .intro .circle-container {
        width: 20rem;
        height: 20rem;
    }
    .intro .circular-text {
        width: 20rem;
        height: 22rem;
    }
    .intro .speech-bubble {
        width: 18rem;
        font-size: 1.4rem;
        padding: 1rem;
    }
    .intro .speech-bubble::before {
        border-width: 10px 10px 0;
        bottom: -10px;
        left: calc(50% - 11px);
    }
    .intro .speech-bubble::after {
        border-width: 9px 9px 0;
        bottom: -8px;
        left: calc(50% - 10px);
    }
    .intro .right .intro-desc {
        font-size: 1.2rem;
        margin-bottom: 4rem;
    }
    .intro .right .intro-desc h1 {
        font-size: 2.4rem;
    }
    .intro .right .intro-desc h2 {
        font-size: 1.4rem;
    }
    .intro .right .personal-info {
        font-size: 1.2rem;
        margin-bottom: 4rem;
    }
    .intro .right .personal-info h2 {
        font-size: 1.6rem;
    }
    .intro .right .more-info-btn {
        margin-bottom: 4rem;
    }
}

/* about-me */
.about-me {
    padding: 5rem 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: 95vw;
    background-attachment: fixed;
    background-image: url('../src/img/about_me_bg.png');
}
.about-me .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.about-me .info-block {
    background-color: #fff;
    width: 40%;
    height: auto;
    padding: 3rem 3rem 4rem;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.about-me .info-block:hover {
    transform: translateY(-2px);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}
.about-me .info-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.about-me .info-list li {
    margin-bottom: 0.8rem;
}
.about-me .info-list li span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #999;
    margin-left: 0.5rem;
}
.about-me .info-list li:last-child {
    margin-bottom: 0;
}

/* 반응형 */
@media (max-width: 1024px) {
    .about-me {
        height: auto;
        background-attachment: scroll;
        background-position: center 60%;
        background-size: 120vw auto;
    }
    .about-me .info-block {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .about-me .summary {
        font-size: 1.4rem;
    }
    .about-me .info-title {
        font-size: 2rem;
    }
    .about-me .info-list li {
        font-size: 1.4rem;
    }
}
@media (max-width: 480px) {
    .about-me .summary {
        font-size: 1.2rem;
    }
    .about-me .info-title {
        font-size: 1.8rem;
    }
    .about-me .info-list li {
        font-size: 1.2rem;
    }
}

/* works */
.works {
    padding: 10rem 2rem 15rem;
    background-color: #f5f5f5;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}
.works-wrapper {
    max-width: 120rem;
}
.works-swiper {
    display: flex;
}
.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    top: 50% !important;
    transform: translateY(-50%);
}
.swiper-pagination-bullets {
    bottom: -5rem !important;
}
.swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
    margin: 0 0.5rem !important;
    border-radius: 1rem !important;
}
.swiper-pagination-bullet-active {
    width: 4rem !important;
    background: #333 !important;
}
.img-swiper {
    width: 40rem;
    height: 55rem;
}

.img-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.img-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.desc-swiper {
    width: 40%;
    height: 60rem;
    margin-left: 2rem;
    padding-top: 15rem !important;
}
.desc-swiper .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.desc-swiper .title {
    font-size: 2.2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.desc-swiper .label {
    display: inline-block;
    color: #fff;
    background-color: #333;
    padding: 0.1rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}
.desc-swiper .period {
    font-size: 1.4rem;
    color: #666;
}
.desc-swiper .contribution {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.desc-swiper .desc {
    margin-bottom: 2rem;
}
.desc-swiper .tech-stack {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.desc-swiper .tech-stack li {
    border: 1px solid #333;
    padding: 0.1rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}
.desc-swiper .link-btn {
    font-size: 1.5rem;
    position: relative;
}
.desc-swiper .link-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.8rem;
    background-color: #999;
    opacity: 0.3;
    bottom: 0;
    left: 0;
    display: none;
}
.desc-swiper .link-btn:hover::after {
    display: block;
}

@media (max-width: 1024px) {
    .works-wrapper {
        padding: 0 3rem;
    }
    .works-swiper {
        flex-direction: column;
    }
    .desc-swiper .title {
        font-size: 2rem;
    }
    .desc-swiper .label {
        font-size: 1.2rem;
    }
    .desc-swiper .period {
        font-size: 1.2rem;
    }
    .desc-swiper .contribution {
        font-size: 1.2rem;
    }
    .desc-swiper .tech-stack li {
        font-size: 1.2rem;
    }
    .desc-swiper .link-btn {
        font-size: 1.3rem;
    }
}
@media (max-width: 576px) {
    .img-swiper {
        width: 30rem;
        height: 45rem;
    }
    .desc-swiper {
        width: 40%;
        height: auto;
        padding-top: 10rem !important;
    }
    .desc-swiper .title {
        font-size: 1.8rem;
    }
    .desc-swiper .label {
        font-size: 1.2rem;
    }
    .desc-swiper .period {
        font-size: 1.2rem;
    }
    .desc-swiper .contribution {
        font-size: 1.2rem;
    }
    .desc-swiper .desc {
        font-size: 1.4rem;
    }
    .desc-swiper .tech-stack li {
        font-size: 1rem;
    }
    .desc-swiper .link-btn {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    .img-swiper {
        width: 20rem;
        height: 35rem;
    }
    .desc-swiper {
        width: 30%;
        padding-top: 10rem !important;
    }
    .desc-swiper .title {
        font-size: 1.6rem;
    }
    .desc-swiper .label {
        font-size: 1rem;
    }
    .desc-swiper .period {
        font-size: 1rem;
    }
    .desc-swiper .contribution {
        font-size: 1rem;
    }
    .desc-swiper .desc {
        font-size: 1.2rem;
    }
    .desc-swiper .tech-stack li {
        font-size: 1.2rem;
    }
    .desc-swiper .link-btn {
        font-size: 1.2rem;
    }
}

/* contact */
.contact {
    padding: 10rem 2rem;
}
.contact-wrapper {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
.contact-wrapper ul {
    width: 70%;
}
.contact-wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bababa;
    height: 6rem;
    font-size: 1.8rem;
}
.contact-wrapper ul li:last-child {
    justify-content: end;
}
.contact-wrapper img {
    width: 20%;
    display: block;
}

@media (max-width: 1024px) {
    .contact-wrapper {
        justify-content: center;
    }
    .contact-wrapper ul {
        width: 80%;
    }
    .contact-wrapper ul li {
        font-size: 1.6rem;
        height: 5.5rem;
    }
    .contact-wrapper img {
        display: none;
    }
}
@media (max-width: 576px) {
    .contact-wrapper ul {
        width: 100%;
    }
    .contact-wrapper ul li {
        font-size: 1.4rem;
        height: 5rem;
    }
}
